[package]
name = "tailspin"
version = "0.0.0"
edition = "2021"
authors = ["Ben Sadeh"]
description = "tailspin is a log file highlighter and a drop-in replacement for tail -f"
repository = "https://github.com/bensadeh/tailspin"
keywords = ["log", "syntax-highlighting", "tail", "less"]
license = "MIT"

[[bin]]
path = "src/main.rs"
name = "spin"

[dependencies]
clap = { version = "4.3.10", features = ["derive"] }
ctrlc = "3.4.0"
lazy_static = "1.4.0"
linemux = "0.3"
rand = "0.8.5"
regex = "1.8.3"
serde = { version = "1.0", features = ["derive"] }
tempfile = "3.2.0"
tokio = { version = "1", features = ["full"] }
toml = "0.7.4"
