[package]
name = "tailspin"
version = "3.0.0"
edition = "2021"
authors = ["Ben Sadeh"]
description = "A log file highlighter"
repository = "https://github.com/bensadeh/tailspin"
keywords = ["log", "syntax-highlighting", "tail", "less"]
license = "MIT"
rust-version = "1.70"

[[bin]]
path = "src/main.rs"
name = "tspin"

[dependencies]
async-trait = "0.1.77"
clap = { version = "4.4.13", features = ["derive"] }
clap_complete = "4.4.6"
color-eyre = "0.6.2"
colored = "2"
ctrlc = "3.4.2"
linemux = "0.3"
nu-ansi-term = "0.49.0"
once_cell = "1.19.0"
rand = "0.8.5"
rayon = "1.8.0"
regex = "1.10.2"
serde = { version = "1.0", features = ["derive"] }
shellexpand = "3.1.0"
tempfile = "3.9.0"
terminal_size = "0.3.0"
tokio = { version = "1.35.1", features = ["full"] }
toml = "0.8.8"