[package]
name = "tailspin"
version = "1.4.0"
edition = "2021"
authors = ["Ben Sadeh"]
description = "A log file highlighter"
repository = "https://github.com/bensadeh/tailspin"
keywords = ["log", "syntax-highlighting", "tail", "less"]
license = "MIT"
rust-version = "1.70"

[[bin]]
path = "src/main.rs"
name = "spin"

[dependencies]
async-trait = "0.1.72"
clap = { version = "4.3.19", features = ["derive"] }
clap_complete = "4.3.2"
colored = "2"
ctrlc = "3.4.0"
lazy_static = "1.4.0"
linemux = "0.3"
once_cell = "1.18.0"
rand = "0.8.5"
regex = "1.9.1"
serde = { version = "1.0", features = ["derive"] }
shellexpand = "3.1.0"
tempfile = "3.7.0"
tokio = { version = "1.29.1", features = ["full"] }
toml = "0.7.6"
