[package]
name = "tailspin"
version = "2.3.0"
edition = "2021"
authors = ["Ben Sadeh"]
description = "A log file highlighter"
repository = "https://github.com/bensadeh/tailspin"
keywords = ["log", "syntax-highlighting", "tail", "less"]
license = "MIT"
rust-version = "1.70"

[[bin]]
path = "src/main.rs"
name = "tspin"

[dependencies]
async-trait = "0.1.74"
clap = { version = "4.4.10", features = ["derive"] }
clap_complete = "4.4.4"
color-eyre = "0.6.2"
colored = "2"
ctrlc = "3.4.1"
lazy_static = "1.4.0"
linemux = "0.3"
once_cell = "1.18.0"
rand = "0.8.5"
regex = "1.10.2"
serde = { version = "1.0", features = ["derive"] }
shellexpand = "3.1.0"
tempfile = "3.8.1"
terminal_size = "0.3.0"
tokio = { version = "1.34.0", features = ["full"] }
toml = "0.8.8"
