[package]
name = "tailspin"
version = "5.4.4"
edition = "2024"
authors = ["Ben Sadeh"]
description = "A log file highlighter"
repository = "https://github.com/bensadeh/tailspin"
keywords = ["log", "syntax-highlighting", "tail", "less"]
license = "MIT"
rust-version = "1.85"

[[bin]]
path = "src/main.rs"
name = "tspin"

[dependencies]
async-trait = "0.1.88"
clap = { version = "4.5.39", features = ["derive", "env", "wrap_help"] }
clap_complete = "4.5.52"
ctrlc = "3.4.7"
linemux = "0.3.0"
memchr = "2.7.4"
miette = { version = "7.6.0", features = ["fancy"] }
nu-ansi-term = "0.50.1"
rayon = "1.10.0"
regex = "1.11.1"
serde = { version = "1.0.219", features = ["derive"] }
serde_json = { version = "1.0.140", features = ["preserve_order"] }
shell-words = "1.1.0"
shellexpand = "3.1.1"
tempfile = "3.20.0"
thiserror = "2.0.12"
tokio = { version = "1.45.1", features = ["full"] }
toml = "0.8.22"
uuid = { version = "1.17.0", features = ["v4"] }
winsplit = "0.1"