[package]
name = "tailspin"
version = "5.6.0"
edition = "2024"
authors = ["Ben Sadeh"]
description = "A log file highlighter"
repository = "https://github.com/bensadeh/tailspin"
keywords = ["log", "syntax-highlighting", "tail", "less"]
license = "MIT"
rust-version = "1.85"

[[bin]]
path = "src/main.rs"
name = "tspin"

[dependencies]
aho-corasick = "1.1.4"
async-trait = "0.1.89"
clap = { version = "4.5.58", features = ["derive", "env", "wrap_help"] }
clap_complete = "4.5.66"
ctrlc = "3.5.2"
linemux = "0.3.0"
memchr = "2.7.6"
miette = { version = "7.6.0", features = ["fancy"] }
nu-ansi-term = "0.50.3"
rayon = "1.11.0"
regex = "1.12.2"
serde = { version = "1.0.228", features = ["derive"] }
serde_json = { version = "1.0.149", features = ["preserve_order"] }
shell-words = "1.1.1"
shellexpand = "3.1.1"
tempfile = "3.25.0"
thiserror = "2.0.18"
tokio = { version = "1.49.0", features = ["full"] }
toml = "1.0.1"
uuid = { version = "1.21.0", features = ["v4"] }
winsplit = "0.1"

[profile.release]
lto = "fat"
codegen-units = 1